* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* Smooth scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Snap scrolling */
  scroll-snap-type: y mandatory;
}

.navbar {
  /* Navbar always fixed on top of the page and on top of the content */
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  /* Semi transparent */
  background: rgba(0, 0, 0, 0.8);
}

.navbar ul {
  display: flex;
  /* No bullets*/
  list-style: none;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

#logo-links {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.logo-link {
  margin: 1em 0.5em;
  color: rgba(0, 0, 0, 0);
}
.logo-link img {
  max-width: 32px;
  max-height: 32px;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}
@keyframes glow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff;
  }
}
.brand:hover {
  animation: glow 200ms ease;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.brand img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 0.2em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* Snap scrolling */
  scroll-snap-align: center;
}

section h1 {
  font-size: 3rem;
}
section h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
section h3 {
  font-size: 1.8rem;
}
section h4 {
  font-size: 1.4rem;
}

section p {
  font-size: 1.5rem;
}
.zoom {
  transition: all 300ms ease-out;
}
.zoom:hover {
  transform: scale(1.05);
}

section .skill-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill h2 {
  font-size: 1.4rem;
  text-transform: none;
}
.skill img {
  max-width: 100px;
  max-height: 100px;
}

.skill p {
  font-size: 1.2rem;
}

.project-row {
  display: flex;
  margin-bottom: 4rem;
}

.project {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.project a {
  text-decoration: underline;
}

#mail {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .hideable {
    display: none;
  }
  #skills {
    height: max-content;
    scroll-snap-align: start;
  }
}

/* BACKGROUNDS */

#home {
  background: url(./assets/home-background.jpg);
  /* Parallax */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#skills {
  background: url(./assets/skills-background.jpg);
  /* Parallax */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#contact {
  background: url(./assets/contact-background.jpg);
  /* Parallax */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#projects {
  background: url(./assets/projects-background.jpg);
  /* Parallax */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
